@payhippo:registry=https://europe-west1-npm.pkg.dev/payhippo-staging/payhippo/
//europe-west1-npm.pkg.dev/payhippo-staging/payhippo/:_authToken="ya29.a0ARrdaM8eN74aC6HKBtQ2TXUCSLxo4t3KvfSRtnv2s4F-tv1W14oaoPAtMJ9IjR7uZZCE3FbEgIH9HzOc2poioXZibkFnpvdJKdHtU8SGuFmIUSPZ87zDSxORM7v5CyOHBQijoUftP_Avuy70VLeOwulorxE-oOI"
//europe-west1-npm.pkg.dev/payhippo-staging/payhippo/:always-auth=true