@payhippo:registry=https://europe-west1-npm.pkg.dev/payhippo-staging/payhippo/
//europe-west1-npm.pkg.dev/payhippo-staging/payhippo/:_authToken=""
//europe-west1-npm.pkg.dev/payhippo-staging/payhippo/:always-auth=true